* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 200px;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(253, 253, 253), rgb(39, 185, 221));
}

img {
  border-radius: 20px;
}

h1 {
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
}

.mb-4 {
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.my-3 {
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.d-grid {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}

form {
  width: 70px;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}